.text-black-light{ color: #343434; }
.text-black      { color: #282828; }
.text-black-dark { color: #212121; }

.text-white-light{ color: #F8F8F8; }
.text-white      { color: #A3A3A3; }
.text-white-dark { color: #484848; }