.color-black-light{ color: #2B2F32; }
.color-black{ color: #1F2022; }
.color-black-dark{ color: #1A1B1D; }

.color-white-light{ color: #FDF6FE; }
.color-white{ color: #ADAEB0; }
.color-white-dark{ color: #444446; }

.color-blue{ color: #1E9EFF; }
.color-red{ color: #FF658F; }
.color-green{ color: #58F73B; }
.color-yellow{ color: #FFA700; }
.color-orange{ color: #FB634C; }


.highlight-black{ color: #1A1B1D; }
.highlight-blue{ color: #1E9EFF; }

